Client/Service References/ServiceReference/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="selectAllData">
        <s:complexType />
      </s:element>
      <s:element name="selectAllDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="selectAllDataResult" type="tns:ResultOfListOfKhoa_ett" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultOfListOfKhoa_ett">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:ArrayOfKhoa_ett" />
          <s:element minOccurs="1" maxOccurs="1" name="errorCode" type="tns:ErrorCode" />
          <s:element minOccurs="0" maxOccurs="1" name="errorInfor" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfKhoa_ett">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Khoa_ett" nillable="true" type="tns:Khoa_ett" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Khoa_ett">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="maKhoa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tenKhoa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="moTa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="diaChi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dienThoai" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ErrorCode">
        <s:restriction base="s:string">
          <s:enumeration value="NaN" />
          <s:enumeration value="Success" />
          <s:enumeration value="False" />
          <s:enumeration value="FakeData" />
        </s:restriction>
      </s:simpleType>
      <s:element name="selectByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="selectByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="selectByNameResult" type="tns:ResultOfListOfKhoa_ett" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertKhoa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ma" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ten" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertKhoaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertKhoaResult" type="tns:ResultOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultOfBoolean">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="data" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="errorCode" type="tns:ErrorCode" />
          <s:element minOccurs="0" maxOccurs="1" name="errorInfor" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="deleteKhoa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ma" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteKhoaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deleteKhoaResult" type="tns:ResultOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateKhoa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ma" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ten" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateKhoaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateKhoaResult" type="tns:ResultOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="selectAllDataSoapIn">
    <wsdl:part name="parameters" element="tns:selectAllData" />
  </wsdl:message>
  <wsdl:message name="selectAllDataSoapOut">
    <wsdl:part name="parameters" element="tns:selectAllDataResponse" />
  </wsdl:message>
  <wsdl:message name="selectByNameSoapIn">
    <wsdl:part name="parameters" element="tns:selectByName" />
  </wsdl:message>
  <wsdl:message name="selectByNameSoapOut">
    <wsdl:part name="parameters" element="tns:selectByNameResponse" />
  </wsdl:message>
  <wsdl:message name="insertKhoaSoapIn">
    <wsdl:part name="parameters" element="tns:insertKhoa" />
  </wsdl:message>
  <wsdl:message name="insertKhoaSoapOut">
    <wsdl:part name="parameters" element="tns:insertKhoaResponse" />
  </wsdl:message>
  <wsdl:message name="deleteKhoaSoapIn">
    <wsdl:part name="parameters" element="tns:deleteKhoa" />
  </wsdl:message>
  <wsdl:message name="deleteKhoaSoapOut">
    <wsdl:part name="parameters" element="tns:deleteKhoaResponse" />
  </wsdl:message>
  <wsdl:message name="updateKhoaSoapIn">
    <wsdl:part name="parameters" element="tns:updateKhoa" />
  </wsdl:message>
  <wsdl:message name="updateKhoaSoapOut">
    <wsdl:part name="parameters" element="tns:updateKhoaResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="selectAllData">
      <wsdl:input message="tns:selectAllDataSoapIn" />
      <wsdl:output message="tns:selectAllDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="selectByName">
      <wsdl:input message="tns:selectByNameSoapIn" />
      <wsdl:output message="tns:selectByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertKhoa">
      <wsdl:input message="tns:insertKhoaSoapIn" />
      <wsdl:output message="tns:insertKhoaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteKhoa">
      <wsdl:input message="tns:deleteKhoaSoapIn" />
      <wsdl:output message="tns:deleteKhoaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateKhoa">
      <wsdl:input message="tns:updateKhoaSoapIn" />
      <wsdl:output message="tns:updateKhoaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectAllData">
      <soap:operation soapAction="http://tempuri.org/selectAllData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectByName">
      <soap:operation soapAction="http://tempuri.org/selectByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertKhoa">
      <soap:operation soapAction="http://tempuri.org/insertKhoa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteKhoa">
      <soap:operation soapAction="http://tempuri.org/deleteKhoa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateKhoa">
      <soap:operation soapAction="http://tempuri.org/updateKhoa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectAllData">
      <soap12:operation soapAction="http://tempuri.org/selectAllData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectByName">
      <soap12:operation soapAction="http://tempuri.org/selectByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertKhoa">
      <soap12:operation soapAction="http://tempuri.org/insertKhoa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteKhoa">
      <soap12:operation soapAction="http://tempuri.org/deleteKhoa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateKhoa">
      <soap12:operation soapAction="http://tempuri.org/updateKhoa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:14890/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:14890/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>